.logo-card{
    position:absolute;
    top:45px;
    left:50%;
    transform:translateX(-50%);

    width:520px;
    height:120px;

    display:flex;
    align-items:center;
    justify-content:center;

    border-radius:24px;

    background:rgba(255,255,255,.18);
    backdrop-filter:blur(18px);
    -webkit-backdrop-filter:blur(18px);

    border:1px solid rgba(255,255,255,.35);

    box-shadow:
        0 10px 30px rgba(0,0,0,.18),
        inset 0 1px 0 rgba(255,255,255,.35);

    z-index:100;
}

#talkleticsLogo{
    width:420px;
    max-width:85%;
    height:auto;
    display:block;
}

.guide{
    position:absolute;
    height:390px;
    right:240px;
    bottom:-25px;
    z-index:50;
}
