rules_version = '2';

service firebase.storage {

match /b/{bucket}/o {

function signedIn() {
return request.auth != null;
}

/* USER UPLOADS */

match /userUploads/{userId}/{allPaths=**} {
allow read, write: if request.auth != null && request.auth.uid == userId;
}

/* TRANSLATION DOCUMENTS */

match /translations/{allPaths=**} {
allow read, write: if signedIn();
}

/* DEFAULT BLOCK */

match /{allPaths=**} {
allow read, write: if false;
}

}
}
