
body{

font-family:'Plus Jakarta Sans';

background:#eef3f8;

margin:0;

}


.header{

text-align:center;

margin-top:40px;

}



.header h1{

font-weight:500;

font-size:34px;

}


.header p{

color:#667;

font-size:14px;

}




.glass-container{

display:flex;

justify-content:center;

gap:40px;

margin-top:40px;

flex-wrap:wrap;

}



.glass-card{


width:520px;

padding:30px;


background:

linear-gradient(145deg,

rgba(255,255,255,0.25),

rgba(255,255,255,0.05));


backdrop-filter:blur(25px);

border-radius:20px;


box-shadow:

0 8px 32px rgba(0,0,0,0.1),

inset 0 0 10px rgba(255,255,255,0.5);


}




.price-card{

margin-top:20px;

padding:15px;

border-radius:15px;

background:rgba(255,255,255,0.5);

}


.standard{

border:1px solid green;

}


.express{

border:1px solid red;

}


button{


margin-top:20px;

padding:15px;

border:none;

border-radius:12px;

background:#6ec7b8;

color:white;

cursor:pointer;

transition:0.2s;

}



button:hover{

transform:scale(1.05);

}



.quote-option{

margin-top:10px;

padding:10px;

border-radius:10px;

cursor:pointer;

}



.standardQuote{

background:#e8fff1;

border:1px solid green;

}


.expressQuote{

background:#ffecec;

border:1px solid red;

}


.quote-option:hover{

transform:scale(1.05);

}


@media(max-width:900px){

.glass-container{

flex-direction:column-reverse;

align-items:center;

}

}