
body{

background:linear-gradient(
135deg,
#eaf2ff,
white
);

font-family:Segoe UI;

display:flex;
justify-content:center;
align-items:center;

height:100vh;

}



.glass{

padding:40px;

border-radius:20px;

background:rgba(255,255,255,0.2);

backdrop-filter:blur(20px);

box-shadow:0 8px 32px rgba(0,0,0,0.2);

}

