
body{

font-family:Poppins;

background:#eef2f7;

padding:40px;

}


.page{

max-width:500px;

margin:auto;

}


.card{

background:white;

padding:30px;

border-radius:12px;

box-shadow:0 10px 25px rgba(0,0,0,.1);

}


.summary{

font-size:18px;

margin-bottom:20px;

color:#555;

}


button{

width:100%;

padding:14px;

border:none;

border-radius:8px;

font-size:16px;

margin-top:10px;

cursor:pointer;

transition:.2s;

}


button:hover{

transform:scale(1.03);

}


button:active{

transform:scale(.97);

}


.stripe{

background:#635bff;

color:white;

}


.paystack{

background:#00c389;

color:white;

}


.currency{

width:100%;

padding:10px;

margin-bottom:10px;

}

