
body{

display:flex;
justify-content:center;
align-items:center;
height:100vh;

background:linear-gradient(#cfe0ef,#b8ccdd);

}



.glass{

background:rgba(255,255,255,0.3);

padding:40px;

border-radius:20px;

}

