CREATE TABLE translators (

id SERIAL PRIMARY KEY,

email TEXT,

score FLOAT

);

CREATE TABLE jobs (

id SERIAL PRIMARY KEY,

pay FLOAT,

status TEXT

);

CREATE TABLE submissions (

id SERIAL PRIMARY KEY,

job_id INT,

translator_id INT,

content TEXT,

grade FLOAT

);
